body {
    text-align: center;
}

div {
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; 
    align-items: flex-start;
    /* align-content: center; */
}

#box1 {
    background-color: aqua;
    height: 75px;
}
#box2 {
    background-color: pink;
    height: 150px;
    /* align-self: flex-end; */
    flex-shrink: 2;
}
#box3 {
    background-color: darkkhaki;
}
#box4 {
    background-color: indianred;
}
#box5 {
    background-color: slateblue;
}
/* ---------------------------------------------------------------------------------------------------------------------- */
/* media queries */
